<h2>Menu</h2>

{{#if menu.length}}
<ul>
  {{#each menu}}
  <li class="menu">
    <form action="/inCart" method="POST">
      <label>
          {{!-- <img src="./images/{{title}}.png" alt="img"> --}}
        <div>
          <span>In cart</span>
          {{#if inCart}}
          <input type="checkbox" checked name="inCart">
          {{else}}
          <input type="checkbox" name="inCart">
          {{/if}}
        </div>
        <span>{{title}}</span>
        <span>Price: {{price}}</span>
       <span>Amount: <input type="number" name="amount" min="1" max="20" value="{{amount}}"></span>
        <script>
          let totalAmount{{_id}} = {{price}} * {{amount}};
          document.addEventListener('DOMContentLoaded', function() {
            let totalAmountElement = document.getElementById('totalAmount{{_id}}');
            totalAmountElement.innerHTML = totalAmount{{_id}};
          });
        </script>
        <span>Total Price: <span id="totalAmount{{_id}}"></span></span>


        <input type="hidden" value="{{_id}}" name="id">

        <button class="btn btn-small" type="submit">Save</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>Nothing here...</p>
{{/if}}
